main {
	overflow:hidden;
}
div.recommandation {
	width:45%;
	float:left;
	padding:2.5%;
	position:relative;
}
div.AD {
	width:45%;
	float:left;
	padding:2.5%;
	position:relative;
}
div.ADpic {
	width:90%;
	height:38%;
	margin:2.5%;
}
div.ADpic img {
	width:100%;
	height:auto;
}