main {
	overflow:hidden;
	height:500px;
	background-image:url(../img/shelf.jpg);
	background-size:100% auto;
}
div.form {
	width:400px;
	height:190px;
	padding:20px;
	margin:auto;
	margin-top:125px;
	background-color:#FFFFFF;
	opacity:0.8;
}
div.form h1 {
	text-align:center;
}
form {
	width:350px;
	padding:10px;
	margin:auto;
}
label {
	float:left;
	clear:left;
	display:block;
	width:100px;
	padding-right:10px;
	margin-top:10px;
	text-align:right;
}
input {
	display:block;
	margin-top:10px;
}
input[type="button"] {
	margin-left:110px;
}