main {
	min-height:500px;
}
#searchBox {
	margin:10px;
	position:relative;
}
div.inputField {
	width:800px;
	height:80px;
	margin:auto;
	position:relative;
}
input.inputBox {
	position:absolute;
	top:10px;
	left:50px;
	width:595px;
	height:25px;
}
button.searchButton {
	position:absolute;
	top:10px;
	left:650px;
	width:100px;
	height:30px;
}
div.otherCondition {
	position:absolute;
	top:50px;
	left:50px;
}
table.bookShelf {
	width:800px;
	height:auto;
	border-style:outset;
	margin:auto;
	background-color:#F5F5F5;
}
table.bookShelf tr td,table.bookShelf tr th {
	border:1px solid #eee;
	padding:5px 10px;
	text-align:left;
}
th.bookName {
	width:64%;
}
th.otherProps {
	width:12%;
}
td.bookName {
	width:64%;
	cursor:pointer;
}
td.otherProps {
	width:12%;
}
div.floatcover img {
	width:100px;
	height:auto;
}